<div class="image">
  <div class="image_row">
    <div class="text_holder">
      <h1 class="main_title">Hello! I'm a full-stack developer living in Atlanta.</h1>
      <br>
      <div class="skill_holder">
        <p>My skills include: Ruby on Rails, Javascript, RSpec, Sencha Touch 2, and much more.</p>
      </div>
    </div>
  </div>
</div>


<div class="main">
  <div class="content">

    <div class="section-row projects_row">
      <div class="section-heading">
        <h2 class="strike">
        <span>Featured Projects</span>
        </h2>
      </div>
      
      <div class='large-4 medium-4 columns'>
        <% project = data.projects.select(&:featured).first %>
          <h3 class="project_name"><%= link_to project.name, 'portfolio.html' %></h3>
          <%= link_to(image_tag(project.screenshot, class: 'project_image'), 'portfolio.html') %>
      </div>

      <div class='large-4 medium-4 columns'>
        <% project = data.projects.select(&:featured)[1] %>
          <h3 class="project_name"><%= link_to project.name, 'portfolio.html' %></h3>
          <%= link_to(image_tag(project.screenshot, class: 'project_image'), 'portfolio.html') %>
      </div>

      <div class='large-4 medium-4 columns'>
        <% project = data.projects.select(&:featured)[2] %>
          <h3 class="project_name"><%= link_to project.name, 'portfolio.html' %></h3>
          <%= link_to(image_tag(project.screenshot, class: 'project_image'), 'portfolio.html') %>
      </div>
    </div>


    <div class="section-row blog_row">


      <section class="latest-from-blog">

        <div class="section-row">
          <div class="section-heading">
            <h2 class="strike2">
              <span>Latest from the blog</span>
            </h2>
          </div>
        </div>
        
        <div class='large-6 medium-6 columns'>

          <h3><%= link_to page_articles.first.title, page_articles.first %></h3>

          <p><%= page_articles.first.summary %></p>

        </div>

        <div class='large-6 medium-6 columns'>

          <h3><%= link_to page_articles.second.title, page_articles.second %></h3>

          <p><%= page_articles.second.summary %></p>

        </div>

      </section>



    </div>

  </div>

</div>
